<div class="container">
  <div class="card">
    <form (ngSubmit)="doSubmitForm()">
      <h1>Compose Email</h1>
      <!-- {{ data | json }} -->
      <mat-form-field class="field" appearance="fill">
        <mat-label>To</mat-label>
        <input name="to" [(ngModel)]="data.to" matInput />
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Subject</mat-label>
        <input name="subject" [(ngModel)]="data.subject" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width field" appearance="fill">
        <mat-label>Enter your message</mat-label>
        <textarea
          name="message"
          [(ngModel)]="data.message"
          rows="10"
          matInput
          placeholder="Hello"
        ></textarea>
      </mat-form-field>
      <div class="text-center">
        <mat-spinner style="margin: auto" *ngIf="flag"></mat-spinner>
        <button
          [disabled]="flag"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Send
        </button>
        <button type="reset" mat-raised-button color="accent">Rest</button>
      </div>
    </form>
  </div>
</div>
